<div class="content" ng-controller="comprasController">
  <div class="categoria" id="carrito">

    <ul class="navBar">
      <li class="offer" ng-repeat="categoria in compras.categorias" ng-click="categoriaClick($event)">
        <h1 class="titulo">{{categoria.nombreCategoria}}</h1>
      </li>
    </ul>

    <div class="category categoria">

      <div class="offers">
        <div class="offer">Oferta 1</div>
        <div class="offer">Oferta 2</div>
        <div class="offer">Oferta 3</div>
        <div class="offer">Oferta 4</div>
      </div>

      <div class="section">
        <label>Ultimos comprados</label>
        <div class="productContainer" id="compras-favoritos">
          <div id="compras-favoritos" class="product" ng-repeat="compra in compras.favoritos" verify-repeat-favoritos>
            <div class="infoCard">
              <div class="productImage">
                <img ng-src="resources/img/products/{{compra.direccionFoto}}" alt="Imagen del producto">
              </div>
              <h1>{{compra.nombreProducto}}</h1>
              <p>{{compra.descripcion}}</p>
              <p><b>${{compra.costo}}</b></p>
              <h5>{{compra.puntaje}}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <label>Ultimas compras</label>
        <div class="productContainer" id="compras-ultimasCompras">
          <div class="product" ng-repeat="compra in compras.ultimasCompras" verify-repeat-ultimas>
            <div class="infoCard">
              <div class="productImage">
                <img ng-src="resources/img/products/{{compra.direccionFoto}}" alt="Imagen del producto">
              </div>
              <h1>{{compra.nombreProducto}}</h1>
              <p>{{compra.descripcion}}</p>
              <p><b>${{compra.costo}}</b></p>
              <h5>{{compra.puntaje}}</h5>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="category" ng-repeat="category in categories" id="{{category.nombreCategoria}}">
      <div class="productContainer">
        <div class="sectionTitle">
          <label>{{category.nombreCategoria}}</label>
          <hr>
        </div>
        <div class="products">
          <div class="infoCard" ng-repeat="producto in category.productos">
            <div class="productImage">
              <img ng-src="resources/img/products/{{producto.direccionFoto}}" alt="Imagen del producto">
            </div>
            <h1>{{producto.nombreProducto}}</h1>
            <p>{{producto.descripcion}}</p>
            <p><b>${{producto.costo}}</b></p>
            <h5>{{producto.puntaje}}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('div#carrito').ready(function () {

    $('div.categoria>div.offers').slick({
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true
    });

  });

</script>