<div class="content" ng-controller="comprasController">
  <div class="categoria" id="carrito">

    <ul class="navBar">
      <li class="offer" ng-click="categoriaClick($event)">
        <h1 class="titulo">Ofertas</h1>
      </li>
      <li class="offer" ng-repeat="categoria in compras.categorias track by $index" ng-click="categoriaClick($event)">
        <h1 class="titulo">{{categoria.nombreCategoria}}</h1>
      </li>
    </ul>

    <div class="category categoria" id="Ofertas">
      
      <div class="productContainer">
        <div class="sectionTitle">
          <label>Ofertas</label>
          <hr>
        </div>
        <div class="products">
          <div class="infoCard" ng-repeat="producto in compras.ofertas" ng-click="productoClick(producto)">
            <div class="productImage">
              <img ng-src="resources/img/products/{{producto.direccionFoto}}" alt="Imagen del producto">
            </div>
            <h1>{{producto.nombreProducto}}</h1>
            <p>{{producto.descripcion}}</p>
            <p><b>${{producto.costo}}</b></p>
            <h5>{{producto.puntaje}}</h5>
          </div>
        </div>
      </div>

      <div class="productContainer">
        <div class="sectionTitle">
          <label>Ultimas Compras</label>
          <hr>
        </div>
        <div class="products">
          <div class="infoCard" ng-repeat="producto in compras.ultimasCompras" ng-click="productoClick(producto)">
            <div class="productImage">
              <img ng-src="resources/img/products/{{producto.direccionFoto}}" alt="Imagen del producto">
            </div>
            <h1>{{producto.nombreProducto}}</h1>
            <p>{{producto.descripcion}}</p>
            <p><b>${{producto.costo}}</b></p>
            <h5>{{producto.puntaje}}</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="category" ng-repeat="category in categories track by $index" id="{{category.nombreCategoria}}" verify-repeat>
      <div class="productContainer">
        <div class="sectionTitle">
          <label>{{category.nombreCategoria}}</label>
          <hr>
        </div>
        <div class="products">
          <div class="infoCard" ng-repeat="producto in category.productos" ng-click="productoClick(producto)">
            <div class="productImage">
              <img ng-src="resources/img/products/{{producto.direccionFoto}}" alt="Imagen del producto">
            </div>
            <h1>{{producto.nombreProducto}}</h1>
            <p>{{producto.descripcion}}</p>
            <p><b>${{producto.costo}}</b></p>
            <h5>{{producto.puntaje}}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="cd-cart-container empty">
    <a ng-click="cartTrigger()" class="cd-cart-trigger">

      <ul class="count">
        <!-- cart items count -->
        <li>0</li>
        <li>0</li>
      </ul>
      <!-- .count -->
    </a>

    <div class="cd-cart">
      <div class="wrapper">
        <header>
          <h2>Carrito de compras</h2>
          <span class="undo">Item removed. <a href="#0">Undo</a></span>
        </header>

        <div class="body">
          <ul>

            <li class="product" ng-repeat="producto in productosCarrito">
              <div class="product-image"><a href="#0"><img ng-src="resources/img/products/{{producto.direccionFoto}}" alt="placeholder"></a></div>
              <div class="product-details">
                <h3><a href="#0">{{producto.nombreProducto}}</a></h3>
                <span class="price">${{producto.costo}}</span>
                <div class="actions">
                  <a class="delete-item" ng-click="deleteClick(producto)">Eliminar</a>
                  <div class="quantity">
                    <label for="cd-product-{{producto.nombreProducto}}">Cantidad</label>
                    <span class="select">
                    <select id="cd-product-{{producto.nombreProducto}}" name="quantity" ng-model="item" ng-change="cartListChange(producto, item)">
                      <option value="1" selected="selected">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                    </select>
                  </span>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>

        <footer>
          <a href="#finalizar-compra" class="checkout btn"><em>Checkout - $<span>0</span></em></a>
        </footer>
      </div>
    </div>
    <!-- .cd-cart -->
  </div>
  <!-- cd-cart-container -->
</div>