<div class="content">
  <div class="cuenta" ng-controller="cuentaController">
    <div class="section">
      <label>Mi Cuenta</label>
      <div class="card">
        <form class="updateForm">
          <div class="accountForm">
            <label>Primer Nombre</label>
            <div>
              <input class="toJson" type="text" name="primerNombre" placeholder="Primer nombre *" value="{{usuario.primerNombre}}">
              <i class="fa fa-pencil"></i>
            </div>
            <label>Contraseña</label>
            <div>
              <input class="toJson" type="password" name="contrasena">
              <i class="fa fa-pencil"></i>
            </div>
            <label>Segundo Nombre</label>
            <div>
              <input class="toJson" type="text" name="segundoNombre" placeholder="Segundo nombre" value="{{usuario.segundoNombre}}">
              <i class="fa fa-pencil"></i>
            </div>
            <label>Apellido Paterno</label>
            <div>
              <input class="toJson" type="text" name="apellidoPaterno" placeholder="Apellido paterno*" value="{{usuario.apellidoPaterno}}">
              <i class="fa fa-pencil"></i>
            </div>
            <label>Apellido Materno</label>
            <div>
              <input class="toJson" type="text" name="apellidoMaterno" placeholder="Apellido materno" value="{{usuario.apellidoMaterno}}">
              <i class="fa fa-pencil"></i>
            </div>
            <label>Correo Electrónico</label>
            <div>
              <input class="toJson" type="email" name="email" placeholder="Correo *" value="{{usuario.email}}">
              <i class="fa fa-pencil"></i>
            </div>
          <!--input type="submit" name="send" value="Guardar cambios"-->
          <button ng-click="uploadPic(picFile)">Submit</button>
        </div>
          <div class="profilePicture">
            <label for="picFile">
              <img ng-src="resources/img/{{usuario.fotoUrl}}" alt="Imagen de perfil" />
            </label>
            <div class="disabledInfo">
              <div>
                <i class="fa fa-user"></i><span class="usuario">{{usuario.nombreUsuario}}</span>
              </div>
              <label>Patrocinador</label>
              <label>Miembro desde:</label>
              <label>21-04-1997</label>
            </div>
            <!-- ¿Se podrá hacer que esto funcione como botón y que esconda al input de abajo? -->
            <!--<input type="file" name="fotoPerfil" id="fotoPerfil" accept="image/jpeg,image/jpg,image/gif,image/png">-->

            <!-- input type="button" ngf-select="onFileSelect($file)" -->

            <input id="picFile" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" title="Cambiar foto de perfil">
            <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
          </div>
        </form>
      </div>
    </div>
    <div class="section">
      <label>Metodo de Pago</label>
      <div class="card">
        <div class="creditCardDiv">
          <div><input type="radio" name="formaPago" value="1"> <i class="fa fa-money"></i><label>Depósito bancario</label><br></div>
          <div><input type="radio" name="formaPago" value="2"> <i class="fa fa-credit-card-alt"></i><label>**** 1234</label><br></div>
          <div class="buttonAdd"><i class="fa fa-credit-card-alt"></i><input type="button" name="agregarTarjeta" value="Agregar Tarjeta"><br></div>
            <form class="addCreditCard">
              <label>Tipo de tarjeta</label>
              <select name="tipoTarjeta">
                <option value="1">Visa</option>
                <option value="2">Master Card</option>
                <option value="3">American Express</option>
              </select><br>
              <div><label>Numero de Tarjeta</label><input type="text" name="numeroTarjeta" placeholder="Número de tarjeta *"></div>
              <div><label>Numero de Seguridad</label><input type="text" name="numeroSeguridad" placeholder="Número de seguridad *"><br></div>
              <button ng-click="uploadCreditCard()">Guardar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
