<div class="content">
  <div class="filtro" ng-controller="historialController">
    <div class="name">
      <h1>Proceso de filtrado de compra</h1>
    </div>
    <div class="receiptContainer">

      <div class="receipt" ng-repeat="compra in compras track by $index">
        <h1 class="date">Fecha: <span>22 de Abril del 2017</span></h1>
        <div>
          <table class="listOfProducts">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="producto in compra">
                <td>{{producto.nombreProducto}}</td>
                <td>${{producto.costo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h1 class="points">
            Puntos obtenidos:<br>
            <span>27pts</span>
          </h1>
          <h1 class="total">
            Total de Compra: <span>$500.00</span>
          </h1>
        </div>
      </div>

    </div>
  </div>
</div>