@import url("https://fonts.googleapis.com/css?family=Poppins");
@font-face {
  font-family: _Century_Gothic_;
  src: url("../../resources/fonts/CenturyGothic.ttf"); }

@font-face {
  font-family: _Impact_;
  src: url("../../resources/fonts/Impact.ttf"); }

body {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  position: relative; }
  body#loginRegister {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; }
  body * {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  body > img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 1.0; }
  body > div[class$="-max"] {
    padding-left: 110px; }
  body a {
    font-family: inherit;
    color: inherit; }

div[class^="menu"] {
  width: 250px;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  overflow: hidden;
  box-sizing: border-box;
  align-content: flex-start;
  position: fixed;
  z-index: 3; }
  div[class^="menu"] > div.topContainer {
    background-color: #00BCD4;
    width: 100%;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid #0097A7;
    border-right: 1px solid #0097A7; }
    div[class^="menu"] > div.topContainer > div.logo {
      margin-top: 3px;
      text-align: center;
      width: 100%;
      height: 38px;
      overflow: hidden;
      align-items: center; }
      div[class^="menu"] > div.topContainer > div.logo > img {
        width: auto;
        height: auto;
        max-height: 100%;
        display: inline-block; }
      div[class^="menu"] > div.topContainer > div.logo > h1 {
        color: #c2c8e2;
        font: bold 39px _Impact_;
        text-transform: uppercase;
        display: inline-block;
        margin: 0; }
    div[class^="menu"] > div.topContainer > div.userInfo {
      width: 100%;
      height: 90px;
      overflow: hidden;
      margin: 10px 0 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      div[class^="menu"] > div.topContainer > div.userInfo > div.profilePicture {
        width: 70px;
        height: 70px;
        border: 1px solid #757575;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        margin-right: 10px;
        margin-left: 5px; }
        div[class^="menu"] > div.topContainer > div.userInfo > div.profilePicture > img {
          width: auto;
          height: auto;
          max-height: 100%;
          min-height: 100%; }
      div[class^="menu"] > div.topContainer > div.userInfo > h1 {
        color: #FFFFFF;
        font: bold 15px _Century_Gothic_;
        display: inline-block; }
  div[class^="menu"] > div.bottomContainer {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 3px;
    border-right: 1px solid #BDBDBD; }
    div[class^="menu"] > div.bottomContainer > ul.sections {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%; }
      div[class^="menu"] > div.bottomContainer > ul.sections > a {
        text-decoration: none; }
        div[class^="menu"] > div.bottomContainer > ul.sections > a > li {
          color: #212121;
          font: 16px _Century_Gothic_;
          padding: 8px 20px;
          width: 100%;
          box-sizing: border-box;
          cursor: pointer; }
          div[class^="menu"] > div.bottomContainer > ul.sections > a > li.current {
            border-left: 7px solid #00BCD4; }
          div[class^="menu"] > div.bottomContainer > ul.sections > a > li:hover {
            color: #212121;
            background-color: #B2EBF2; }
          div[class^="menu"] > div.bottomContainer > ul.sections > a > li > i.fa {
            margin-right: 10px; }
    div[class^="menu"] > div.bottomContainer > div.help {
      position: absolute;
      margin-left: 1px;
      bottom: 5px;
      width: 240px;
      height: 60px;
      max-height: 70px;
      box-sizing: border-box;
      padding: 10px 5px;
      overflow: hidden;
      background-color: rgba(255, 82, 82, 0.3);
      border: solid 1px #FF5252;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 15px;
      cursor: pointer; }
      div[class^="menu"] > div.bottomContainer > div.help:hover {
        box-shadow: 0 0 20px #757575;
        background-color: #FF5252; }
        div[class^="menu"] > div.bottomContainer > div.help:hover > div.sphere {
          background-color: #FFFFFF; }
      div[class^="menu"] > div.bottomContainer > div.help > div.sphere {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: solid 1px #FF5252;
        background-color: rgba(255, 82, 82, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        margin-left: 3px; }
        div[class^="menu"] > div.bottomContainer > div.help > div.sphere > i.fa {
          color: #212121;
          font-size: 30px; }
      div[class^="menu"] > div.bottomContainer > div.help > h1 {
        font: bold 18px _Century_Gothic_;
        margin: 0;
        display: inline-block;
        color: #212121; }

div[class$="-min"] {
  width: 100px;
  max-width: 100px; }
  div[class$="-min"] > div.logo > img {
    min-width: 100%;
    max-width: 100%;
    min-height: auto;
    max-height: auto; }
  div[class$="-min"] > div.logo > h1 {
    display: none; }
  div[class$="-min"] > div.userInfo {
    border: 0;
    justify-content: center; }
    div[class$="-min"] > div.userInfo > div.profilePicture {
      width: 70px;
      height: 70px;
      margin: 0; }
    div[class$="-min"] > div.userInfo > h1 {
      display: none; }
  div[class$="-min"] > ul.sections {
    display: none; }
  div[class$="-min"] > div.help {
    width: 90px;
    justify-content: center; }
    div[class$="-min"] > div.help > div.sphere {
      margin: 0; }
    div[class$="-min"] > div.help > h1 {
      display: none; }

div[class^="content"] {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  padding: 50px 10px 10px 310px;
  box-sizing: border-box;
  z-index: 1; }

div[class^="header"] {
  height: 50px;
  width: 100%;
  background-color: #0097A7;
  border: 0 solid #0097A7;
  border-bottom-width: 1px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 5px 10px 5px 270px;
  box-sizing: border-box;
  position: fixed;
  z-index: 2; }
  div[class^="header"] > div.button {
    display: flex;
    align-items: center; }
    div[class^="header"] > div.button > i.fa {
      font-size: 20px;
      margin-right: 10px;
      color: #FFFFFF; }
    div[class^="header"] > div.button > h1 {
      font: bold 18px _Century_Gothic_;
      color: #FFFFFF;
      margin: 0; }
  div[class^="header"] > div.userInfo {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center; }
    div[class^="header"] > div.userInfo > div.mail {
      display: flex;
      margin-right: 25px;
      color: #FFFFFF; }
      div[class^="header"] > div.userInfo > div.mail > div.sphere {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        overflow: hidden;
        background-color: #FF5252;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(35px, -10px); }
        div[class^="header"] > div.userInfo > div.mail > div.sphere > h1 {
          font: 12px _Century_Gothic_;
          color: #FFFFFF; }
      div[class^="header"] > div.userInfo > div.mail > i.fa {
        font-size: 20px; }
    div[class^="header"] > div.userInfo > div.profilePicture {
      width: 38px;
      height: 38px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid #757575;
      box-sizing: border-box;
      margin-right: 5px; }
      div[class^="header"] > div.userInfo > div.profilePicture > img {
        width: auto;
        height: auto;
        min-height: 100%;
        max-height: 100%; }
    div[class^="header"] > div.userInfo > h1 {
      font: 18px _Century_Gothic_;
      margin-left: 5px;
      margin-right: 5px;
      color: #FFFFFF; }

div.dashboard {
  width: 100%;
  height: 10000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px 0; }
  div.dashboard > div.blocks {
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute; }
    @media (min-width: 1572px) {
      div.dashboard > div.blocks {
        max-width: 1254px;
        min-width: 1254px; } }
    @media (min-width: 1254px) and (max-width: 1571px) {
      div.dashboard > div.blocks {
        max-width: 936px;
        min-width: 936px; } }
    @media (min-width: 936px) and (max-width: 1253px) {
      div.dashboard > div.blocks {
        max-width: 618px;
        min-width: 618px; } }
    @media (min-width: 618px) and (max-width: 935px) {
      div.dashboard > div.blocks {
        max-width: 300px;
        min-width: 300px; } }
    @media (min-width: 300px) and (max-width: 617px) {
      div.dashboard > div.blocks {
        max-width: 300px;
        min-width: 300px; } }
    div.dashboard > div.blocks > div[class^="block"] {
      width: 300px;
      height: 150px;
      overflow: hidden;
      margin-bottom: 18px;
      border: 1px solid #BDBDBD;
      background-color: #f2f2f2; }
      div.dashboard > div.blocks > div[class^="block"] > canvas.graphics {
        width: 600px;
        height: 600px; }
    div.dashboard > div.blocks > div[class$="_2"] {
      width: 618px;
      height: 150px; }
    div.dashboard > div.blocks > div[class$="_4"] {
      width: 1254px;
      height: 600px; }

div.cuenta {
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  div.cuenta > div.section {
    width: 300px;
    min-width: 300px;
    height: 300px;
    border-top: 2px solid #0c0f38;
    margin: 10px 0 18px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap; }
    @media (min-width: 1572px) {
      div.cuenta > div.section {
        max-width: 1254px;
        min-width: 1254px; } }
    @media (min-width: 1254px) and (max-width: 1571px) {
      div.cuenta > div.section {
        max-width: 936px;
        min-width: 936px; } }
    @media (min-width: 936px) and (max-width: 1253px) {
      div.cuenta > div.section {
        max-width: 618px;
        min-width: 618px; } }
    @media (min-width: 618px) and (max-width: 935px) {
      div.cuenta > div.section {
        max-width: 300px;
        min-width: 300px; } }
    @media (min-width: 300px) and (max-width: 617px) {
      div.cuenta > div.section {
        max-width: 300px;
        min-width: 300px; } }
    div.cuenta > div.section > label {
      background-color: white;
      font: bold 25px _Century_Gothic_;
      margin: 0;
      transform: translateY(-60%);
      padding-right: 10px;
      position: absolute; }
    div.cuenta > div.section > div.card {
      background: #c2c8e2;
      width: 100%;
      height: 95%;
      align-self: flex-end;
      border-radius: 15px; }

div.categoria {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 18px 0; }
  div.categoria > * {
    margin-bottom: 18px; }
  div.categoria > ul.navBar {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding: 0 30px;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #BDBDBD; }
    div.categoria > ul.navBar > li {
      display: inline-block;
      margin: 0;
      padding: 0 30px;
      height: 100%;
      align-items: center;
      justify-content: center; }
      div.categoria > ul.navBar > li:hover {
        border-bottom: 3px solid #FF5252; }
        div.categoria > ul.navBar > li:hover > h1 {
          color: #212121; }
        div.categoria > ul.navBar > li:hover.current {
          border-bottom: 3px solid #FF5252; }
      div.categoria > ul.navBar > li > h1 {
        font: bold 20px _Century_Gothic_;
        color: #757575; }
  div.categoria > div.offers {
    width: 100%;
    height: 261px;
    background-color: #c2c8e2;
    box-sizing: border-box; }
    div.categoria > div.offers > button {
      visibility: hidden;
      width: 60px;
      height: 60px;
      padding: 0;
      margin: 0;
      border: 0;
      position: absolute;
      top: 35%;
      z-index: 1; }
      div.categoria > div.offers > button:hover:after {
        opacity: 0.8; }
      div.categoria > div.offers > button::after {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 0;
        background-color: #c2c8e2;
        opacity: 0.5;
        font: 40px FontAwesome; }
      div.categoria > div.offers > button.slick-prev {
        left: 30px; }
        div.categoria > div.offers > button.slick-prev::after {
          content: '\f0d9';
          padding-right: 5px; }
      div.categoria > div.offers > button.slick-next {
        right: 30px; }
        div.categoria > div.offers > button.slick-next::after {
          content: '\f0da';
          padding-left: 5px; }
    div.categoria > div.offers > div.slick-list {
      height: 100%; }
      div.categoria > div.offers > div.slick-list > div.slick-track {
        height: 100%; }
        div.categoria > div.offers > div.slick-list > div.slick-track > div.offer {
          height: 100%;
          background: radial-gradient(circle, #171e6e, #0c0f38);
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font: bold 25px _Century_Gothic_; }
  div.categoria > div.section {
    width: 300px;
    min-width: 300px;
    height: 350px;
    border-top: 1px solid #BDBDBD;
    margin: 30px 0 18px;
    padding-top: 30px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap; }
    @media (min-width: 1572px) {
      div.categoria > div.section {
        max-width: 1254px;
        min-width: 1254px; } }
    @media (min-width: 1254px) and (max-width: 1571px) {
      div.categoria > div.section {
        max-width: 936px;
        min-width: 936px; } }
    @media (min-width: 936px) and (max-width: 1253px) {
      div.categoria > div.section {
        max-width: 618px;
        min-width: 618px; } }
    @media (min-width: 618px) and (max-width: 935px) {
      div.categoria > div.section {
        max-width: 300px;
        min-width: 300px; } }
    @media (min-width: 300px) and (max-width: 617px) {
      div.categoria > div.section {
        max-width: 300px;
        min-width: 300px; } }
    div.categoria > div.section > label {
      background-color: white;
      color: #212121;
      font: bold 25px _Century_Gothic_;
      margin: 0;
      transform: translateY(-150%);
      padding-right: 20px;
      position: absolute; }
    div.categoria > div.section > div.productContainer {
      width: 100%;
      height: 95%;
      align-self: flex-end;
      overflow: overlay;
      padding: 0 50px; }
      div.categoria > div.section > div.productContainer > button {
        visibility: hidden;
        width: 50px;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        position: absolute;
        top: 0;
        z-index: 1; }
        div.categoria > div.section > div.productContainer > button:hover:after {
          background-color: #BDBDBD;
          opacity: 0.8; }
        div.categoria > div.section > div.productContainer > button::after {
          display: flex;
          justify-content: center;
          align-items: center;
          visibility: visible;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          border: 0;
          background-color: rgba(255, 255, 255, 0);
          font: 40px FontAwesome; }
        div.categoria > div.section > div.productContainer > button.slick-prev {
          left: 0;
          top: -15px;
          color: #757575; }
          div.categoria > div.section > div.productContainer > button.slick-prev::after {
            content: '\f0d9';
            padding-right: 5px; }
        div.categoria > div.section > div.productContainer > button.slick-next {
          right: 0;
          top: -15px;
          color: #757575; }
          div.categoria > div.section > div.productContainer > button.slick-next::after {
            content: '\f0da';
            padding-left: 5px; }
      div.categoria > div.section > div.productContainer > div.slick-list {
        height: 100%; }
        div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track {
          height: 100%; }
          div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product {
            height: 100%;
            padding: 10px;
            box-sizing: border-box; }
            div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard {
              background-color: #FFFFFF;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              padding: 15px;
              border: 1px solid #BDBDBD;
              border-radius: 5px;
              display: flex;
              flex-wrap: wrap;
              overflow: hidden;
              align-content: flex-start; }
              div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard:hover {
                box-shadow: 0 0 8px rgba(57, 57, 57, 0.4); }
              div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > div.productImage {
                width: 100%;
                height: 50%;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                border: solid 1px #BDBDBD;
                margin-bottom: 10px;
                text-align: center;
                overflow: hidden; }
                div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > div.productImage > img {
                  width: auto;
                  height: auto;
                  max-width: 100%; }
              div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > h1 {
                font: bold 16px _Century_Gothic_;
                margin: 0;
                color: #212121;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                -webkit-margin-start: 0;
                -webkit-margin-end: 0;
                width: 100%;
                margin-bottom: 8px; }
              div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > p {
                width: 100%;
                color: #757575;
                font: 14px _Century_Gothic_;
                margin: 0; }
              div.categoria > div.section > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > h5 {
                position: absolute;
                bottom: 8px;
                color: #00BCD4;
                font: 15px _Century_Gothic_;
                font-weight: bold; }

div.carrito {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0; }
  div.carrito > div.section {
    width: 300px;
    min-width: 300px;
    border-top: 1px solid #BDBDBD;
    margin: 10px 0 18px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap; }
    @media (min-width: 1572px) {
      div.carrito > div.section {
        max-width: 1254px;
        min-width: 1254px; } }
    @media (min-width: 1254px) and (max-width: 1571px) {
      div.carrito > div.section {
        max-width: 936px;
        min-width: 936px; } }
    @media (min-width: 936px) and (max-width: 1253px) {
      div.carrito > div.section {
        max-width: 618px;
        min-width: 618px; } }
    @media (min-width: 618px) and (max-width: 935px) {
      div.carrito > div.section {
        max-width: 300px;
        min-width: 300px; } }
    @media (min-width: 300px) and (max-width: 617px) {
      div.carrito > div.section {
        max-width: 300px;
        min-width: 300px; } }
    div.carrito > div.section > label {
      background-color: white;
      font: bold 25px _Century_Gothic_;
      color: #212121;
      margin: 0;
      transform: translateY(-60%);
      padding-right: 20px;
      padding-top: 2px;
      position: absolute; }
    div.carrito > div.section > div.category {
      width: 100%;
      display: flex;
      margin: 50px 0 0;
      padding: 0 0 50px;
      border-bottom: 1px solid #BDBDBD; }
      div.carrito > div.section > div.category > div.card {
        width: 100%;
        border-radius: 3px;
        border: solid 1px #BDBDBD;
        background-color: #FFFFFF;
        overflow: hidden;
        padding: 20px 3px 15px 3px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap; }
        div.carrito > div.section > div.category > div.card > label {
          font: bold 20px _Century_Gothic_;
          margin: 0;
          margin-left: 55px;
          margin-bottom: 10px;
          color: #212121; }
        div.carrito > div.section > div.category > div.card > div.productContainer {
          width: 100%;
          height: 300px;
          align-self: flex-end;
          padding: 0 43px; }
          div.carrito > div.section > div.category > div.card > div.productContainer > button {
            visibility: hidden;
            width: 40px;
            height: 100%;
            padding: 0;
            margin: 0;
            border: 0;
            position: absolute;
            top: 0;
            z-index: 1; }
            div.carrito > div.section > div.category > div.card > div.productContainer > button:hover:after {
              background-color: #BDBDBD;
              opacity: 0.8; }
            div.carrito > div.section > div.category > div.card > div.productContainer > button::after {
              display: flex;
              justify-content: center;
              align-items: center;
              visibility: visible;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              margin-top: 9px;
              border: 0;
              background-color: white;
              opacity: 1.0;
              font: 40px FontAwesome; }
            div.carrito > div.section > div.category > div.card > div.productContainer > button.slick-prev {
              left: 0;
              top: -15px;
              color: #757575; }
              div.carrito > div.section > div.category > div.card > div.productContainer > button.slick-prev::after {
                content: '\f0d9';
                padding-right: 5px; }
            div.carrito > div.section > div.category > div.card > div.productContainer > button.slick-next {
              right: 0;
              top: -15px;
              color: #757575; }
              div.carrito > div.section > div.category > div.card > div.productContainer > button.slick-next::after {
                content: '\f0da';
                padding-left: 5px; }
          div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list {
            height: 100%; }
            div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track {
              height: 100%; }
              div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product {
                height: 100%;
                padding: 10px;
                box-sizing: border-box;
                position: relative; }
                div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.sphere {
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  top: 0;
                  right: 20px;
                  background-color: #FFFFFF;
                  border: 1px solid #BDBDBD;
                  border-radius: 50%; }
                div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard {
                  background-color: #FFFFFF;
                  box-sizing: border-box;
                  width: 100%;
                  height: 100%;
                  padding: 15px;
                  border: 1px solid #BDBDBD;
                  border-radius: 5px;
                  display: flex;
                  flex-wrap: wrap;
                  overflow: hidden;
                  align-content: flex-start; }
                  div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard:hover {
                    box-shadow: 0 0 8px rgba(57, 57, 57, 0.4); }
                  div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > div.productImage {
                    width: 100%;
                    height: 50%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    border: solid 1px #BDBDBD;
                    margin-bottom: 10px;
                    text-align: center;
                    overflow: hidden; }
                    div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > div.productImage > img {
                      width: auto;
                      height: auto;
                      max-width: 100%; }
                  div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > h1 {
                    font: bold 16px _Century_Gothic_;
                    margin: 0;
                    color: #212121;
                    -webkit-margin-before: 0;
                    -webkit-margin-after: 0;
                    -webkit-margin-start: 0;
                    -webkit-margin-end: 0;
                    width: 100%;
                    margin-bottom: 8px; }
                  div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > p {
                    width: 100%;
                    color: #757575;
                    font: 14px _Century_Gothic_;
                    margin: 0; }
                  div.carrito > div.section > div.category > div.card > div.productContainer > div.slick-list > div.slick-track > div.product > div.infoCard > h5 {
                    position: absolute;
                    right: 15px;
                    bottom: 8px;
                    margin: 0 20px 20px 0;
                    color: #FF5252;
                    font: 15px _Century_Gothic_;
                    font-weight: bold; }

_Century_Gothic_div.filtro {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 18px 0; }
  _Century_Gothic_div.filtro > * {
    margin-bottom: 18px; }
  _Century_Gothic_div.filtro > div.name {
    width: 75%;
    height: 40px;
    background-color: #c2c8e2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; }
    _Century_Gothic_div.filtro > div.name > h1 {
      font: bold 25px _Century_Gothic_;
      margin: 0;
      text-transform: uppercase; }
  _Century_Gothic_div.filtro > div.receiptContainer {
    width: 300px;
    min-width: 300px;
    margin: 10px 0 18px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 18px;
    border-top: 1px solid #0c0f38; }
    @media (min-width: 1572px) {
      _Century_Gothic_div.filtro > div.receiptContainer {
        max-width: 1254px;
        min-width: 1254px; } }
    @media (min-width: 1254px) and (max-width: 1571px) {
      _Century_Gothic_div.filtro > div.receiptContainer {
        max-width: 936px;
        min-width: 936px; } }
    @media (min-width: 936px) and (max-width: 1253px) {
      _Century_Gothic_div.filtro > div.receiptContainer {
        max-width: 618px;
        min-width: 618px; } }
    @media (min-width: 618px) and (max-width: 935px) {
      _Century_Gothic_div.filtro > div.receiptContainer {
        max-width: 300px;
        min-width: 300px; } }
    @media (min-width: 300px) and (max-width: 617px) {
      _Century_Gothic_div.filtro > div.receiptContainer {
        max-width: 300px;
        min-width: 300px; } }
    _Century_Gothic_div.filtro > div.receiptContainer > * {
      margin-bottom: 18px; }
    _Century_Gothic_div.filtro > div.receiptContainer > div.receipt {
      width: 100%;
      height: 300px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 15px;
      background-color: #c2c8e2;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: center;
      position: relative; }
      _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > h1.date {
        font: 20px _Century_Gothic_;
        margin: 0 0 18px;
        width: 100%; }
        _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > h1.date > span {
          font-weight: bold; }
      _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > table.listOfProducts {
        width: 75%;
        box-sizing: border-box;
        border-collapse: collapse; }
        _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > table.listOfProducts > thead > tr th {
          padding: 7px 5px;
          border-bottom: 1px solid #0c0f38; }
          _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > table.listOfProducts > thead > tr th:first-child {
            width: 75%;
            text-align: left; }
          _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > table.listOfProducts > thead > tr th:last-child {
            width: 25%;
            border-left: 1px solid #0c0f38;
            text-align: right; }
        _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > table.listOfProducts > tbody > tr > td {
          padding: 7px 5px; }
          _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > table.listOfProducts > tbody > tr > td:first-child {
            width: 75%;
            text-align: left; }
          _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > table.listOfProducts > tbody > tr > td:last-child {
            width: 25%;
            border-left: 1px solid #0c0f38;
            text-align: right; }
      _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > h1.points {
        width: 25%;
        font: 20px _Century_Gothic_;
        margin: 0;
        text-align: center; }
        _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > h1.points > span {
          font-weight: bold;
          color: #0c0f38; }
      _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > h1.total {
        width: 100%;
        font: 20px _Century_Gothic_;
        margin: 18px 0 0;
        text-align: right; }
        _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > h1.total > span {
          font-weight: bold; }
      _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > i.fa {
        font-size: 60px;
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0.5; }
        _Century_Gothic_div.filtro > div.receiptContainer > div.receipt > i.fa:hover {
          opacity: 0.8; }

div.modal-show {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
  background: radial-gradient(circle, rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; }
  div.modal-show > div.box {
    width: 618px;
    min-width: 618px;
    height: 90%;
    max-height: 90%;
    overflow: hidden;
    display: flex; }

div.modal-hide {
  opacity: 0; }

div.modalReceipt {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 15px;
  background-color: #c2c8e2;
  display: flex;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden; }
  div.modalReceipt > h1.date {
    font: 20px _Century_Gothic_;
    margin: 0 0 18px;
    width: 100%; }
    div.modalReceipt > h1.date > span {
      font-weight: bold; }
  div.modalReceipt > div.exit {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #b0b4cd;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px; }
    div.modalReceipt > div.exit:hover {
      opacity: 0.8; }
    div.modalReceipt > div.exit > i.fa {
      font-size: 15px; }
  div.modalReceipt > div.productContainer {
    width: 100%;
    max-height: 80%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: overlay;
    background-color: #b0b4cd; }
    div.modalReceipt > div.productContainer > div.product {
      width: 100%;
      display: flex;
      padding: 10px;
      box-sizing: border-box;
      align-items: center;
      align-content: flex-start;
      position: relative; }
      div.modalReceipt > div.productContainer > div.product > div.delete {
        width: 30px;
        height: 30px;
        background-color: #c2c8e2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        opacity: 0.8; }
        div.modalReceipt > div.productContainer > div.product > div.delete:hover {
          opacity: 1; }
        div.modalReceipt > div.productContainer > div.product > div.delete > i.fa {
          font-size: 15px;
          color: #0c0f38; }
      div.modalReceipt > div.productContainer > div.product > div.productImage {
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-right: 10px; }
        div.modalReceipt > div.productContainer > div.product > div.productImage > img {
          width: auto;
          height: auto;
          max-height: 100%; }
      div.modalReceipt > div.productContainer > div.product > div.info {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap; }
        div.modalReceipt > div.productContainer > div.product > div.info > h1, div.modalReceipt > div.productContainer > div.product > div.info > h2, div.modalReceipt > div.productContainer > div.product > div.info > h3 {
          font-family: _Century_Gothic_;
          margin: 0;
          width: 100%; }
      div.modalReceipt > div.productContainer > div.product > div.numbers {
        text-align: center; }
        div.modalReceipt > div.productContainer > div.product > div.numbers > h1 {
          font: 18px _Century_Gothic_;
          margin: 0; }
          div.modalReceipt > div.productContainer > div.product > div.numbers > h1 > span.price, div.modalReceipt > div.productContainer > div.product > div.numbers > h1 > span.points {
            font-weight: bold; }
  div.modalReceipt > div.total {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    right: 0; }
    div.modalReceipt > div.total > h1.points {
      font: 10px _Century_Gothic_;
      margin: 0; }
      div.modalReceipt > div.total > h1.points > span {
        font-size: 25px;
        font-weight: bold; }
    div.modalReceipt > div.total > h1.finalPrice {
      font: 20px _Century_Gothic_;
      margin: 0; }
      div.modalReceipt > div.total > h1.finalPrice > span {
        font-size: 25px;
        font-weight: bold; }
    div.modalReceipt > div.total button[name="receipt"] {
      margin-top: 10px;
      border: 0;
      border-radius: 5px;
      background-color: #0c0f38;
      font: bold 20px _Century_Gothic_;
      color: white;
      padding: 5px 15px; }

div.plugin {
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  div.plugin > div.section {
    width: 300px;
    min-width: 300px;
    border-top: 1px solid #BDBDBD;
    margin: 30px 0 18px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap; }
    @media (min-width: 1572px) {
      div.plugin > div.section {
        max-width: 1254px;
        min-width: 1254px; } }
    @media (min-width: 1254px) and (max-width: 1571px) {
      div.plugin > div.section {
        max-width: 936px;
        min-width: 936px; } }
    @media (min-width: 936px) and (max-width: 1253px) {
      div.plugin > div.section {
        max-width: 618px;
        min-width: 618px; } }
    @media (min-width: 618px) and (max-width: 935px) {
      div.plugin > div.section {
        max-width: 300px;
        min-width: 300px; } }
    @media (min-width: 300px) and (max-width: 617px) {
      div.plugin > div.section {
        max-width: 300px;
        min-width: 300px; } }
    div.plugin > div.section > label {
      background-color: white;
      font: bold 25px _Century_Gothic_;
      color: #212121;
      margin: 0;
      transform: translateY(-60%);
      padding-right: 20px;
      position: absolute; }
    div.plugin > div.section > div.card {
      margin-top: 18px;
      width: 100%;
      align-self: flex-end;
      display: flex;
      flex-wrap: wrap;
      position: relative; }
      div.plugin > div.section > div.card > button[name="add"] {
        margin-top: 15px;
        border: 1px solid #0097A7;
        padding: 7px 15px;
        float: right;
        border-radius: 3px;
        background-color: #00BCD4;
        font: bold 20px _Century_Gothic_;
        color: white;
        margin-bottom: 18px; }
      div.plugin > div.section > div.card > div.tree {
        background: #FFFFFF;
        border: 1px solid #BDBDBD;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: bold 30px _Century_Gothic_;
        color: white; }

.hv-wrapper {
  display: flex; }
  .hv-wrapper .hv-item {
    display: flex;
    flex-direction: column;
    margin: auto; }
    .hv-wrapper .hv-item .hv-item-parent {
      margin-bottom: 50px;
      position: relative;
      display: flex;
      justify-content: center; }
      .hv-wrapper .hv-item .hv-item-parent:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 25px;
        bottom: 0;
        left: 50%;
        background-color: rgba(17, 17, 17, 0.7);
        transform: translateY(100%); }
    .hv-wrapper .hv-item .hv-item-children {
      display: flex;
      justify-content: center; }
      .hv-wrapper .hv-item .hv-item-children .hv-item-child {
        padding: 0 15px;
        position: relative; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:before, .hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
          content: '';
          position: absolute;
          background-color: rgba(17, 17, 17, 0.7);
          left: 0; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
          left: 50%;
          top: 0;
          transform: translateY(-100%);
          width: 2px;
          height: 25px; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
          top: -25px;
          transform: translateY(-100%);
          height: 2px;
          width: 100%; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
          left: 50%;
          width: 50%; }
        .hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
          width: calc(50% + 1px); }

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0; }

section {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  margin-top: 40px;
  margin-right: 50px;
  position: relative; }
  section h1 {
    text-align: center;
    margin-bottom: 70px; }
  section .hv-container {
    flex-grow: 1;
    overflow: auto;
    justify-content: center; }

.basic-style > h1 {
  color: #ac2222; }

p.simple-card {
  margin: 0;
  background-color: #fff;
  color: #DE5454;
  padding: 30px;
  border-radius: 7px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(204, 131, 103, 0.22); }

.hv-item-parent p {
  font-weight: bold;
  color: #DE5454; }

.management-hierarchy {
  background-color: rgba(0, 151, 167, 0.5);
  border-radius: 6px; }
  .management-hierarchy > h1 {
    color: #FFF; }
  .management-hierarchy .person {
    text-align: center; }
    .management-hierarchy .person > img {
      height: 110px;
      border: 5px solid #FFF;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff; }
    .management-hierarchy .person > p.name {
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: normal;
      color: #3BAA9D;
      margin: 0;
      position: relative; }
      .management-hierarchy .person > p.name b {
        color: rgba(59, 170, 157, 0.5); }
      .management-hierarchy .person > p.name:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 8px;
        background-color: #fff;
        left: 50%;
        top: 0;
        transform: translateY(-100%); }
