body {
    overflow-x: hidden;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;

    background: #e2e1e0;
}

.main-container {
    padding: 1rem;
}

.brand {
    font-size: 36px;
}

.iwt{
    display:block;
}

/* COLORES */

.white {
    color: #fff
}
.dark {
    color: #2A3F54
}
.blue {
    color: #5A738E
}

.bg-blue {
    background: #5A738E !important;
    color: #fff;
}
.bg-dark {
    background: #2A3F54 !important;
    color: #fff    
}

.border-white {    
    border-bottom: 1px solid #D9DEE4;
}

.border-dark {    
    border-bottom: 1px solid #1a1b1c;
}

/* COLORES */

/*TOP NAV*/
.top_nav {
    background-color: rgb(237, 237, 237);
}

#menu-btn {
    padding: 12px 16px 12px 16px
}

#menu-toggle {
    font-size: 26px;
}

/*TOP NAV*/
