$firstColor: #0c0f38;
$secondColor: #c2c8e2;
$thirdColor: #b0b4cd;
$mainGradient: radial-gradient(circle, #171e6e, #0c0f38);
$modalShadow: radial-gradient(circle, rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.7));
$blackTransparent: rgba(20, 20, 20, 0.2);
$redLight: #ed1b24;
$redHeavy: #bf2638;
$golden: #786b40;

$fGrey: #626262;

$fail: #ed6748;
$success: #61de4d;
$link: #4597cb;
