div[class^="menu"]{
  width: 250px;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: $primary-color-text;
  overflow: hidden;

  box-sizing: border-box;
  align-content: flex-start;
  position: fixed;
  z-index: 3;
  >div.topContainer{
    background-color: $primary-color;
    width: 100%;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid $primary-color-dark;
    border-right: 1px solid $primary-color-dark;
  >div.logo{
    margin-top: 3px;
    text-align: center;
    width: 100%;
    height: 38px;
    overflow: hidden;
    align-items: center;
    >img{
      width: auto;
      height: auto;
      max-height: 100%;
      display: inline-block;
    }
    >h1{
      color: $secondColor;
      font: bold 39px _Impact_;
      text-transform: uppercase;
      display: inline-block;
      margin: 0;
    }
  }
  >div.userInfo{
    width: 100%;
    height: 90px;
    overflow: hidden;
    margin: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    >div.profilePicture{
      width: 70px;
      height: 70px;
      border: 1px solid $secondary-text-color;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      overflow: hidden;
      margin-right: 10px;
      margin-left: 5px;
      >img{
        width: auto;
        height: auto;
        max-height: 100%;
        min-height: 100%;
      }
    }
    >h1{
      color: $primary-color-text;
      font: bold 15px _Century_Gothic_;
      display: inline-block;
    }
  }
}
  >div.bottomContainer{
    background-color: $primary-color-text;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 3px;
    border-right: 1px solid $divider-color;
  >ul.sections{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    >a{
      text-decoration: none;
      >li{
        color: $primary-text-color;
        font: 16px _Century_Gothic_;
        padding: 8px 20px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        &.current{
          border-left: 7px solid $primary-color;
        }
        &:hover{
          color: $primary-text-color;
          background-color: $primary-color-light;
        }
        >i.fa{
          margin-right: 10px;
        }
      }
    }
  }
  >div.help{
    position: absolute;
    margin-left: 1px;
    bottom: 5px;
    width: 240px;
    height: 60px;
    max-height: 70px;
    box-sizing: border-box;
    padding: 10px 5px;
    overflow: hidden;
    background-color: rgba(255,82,82,0.30);
    border: solid 1px $accent-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 20px $secondary-text-color;
      background-color: $accent-color;
      >div.sphere{
        background-color: $primary-color-text;
      }
    }
    >div.sphere{
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: solid 1px $accent-color;
      background-color: rgba(255,82,82,0.50);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      margin-left: 3px;
      >i.fa{
        color: $primary-text-color;
        font-size: 30px;
      }
    }
    >h1{
      font: bold 18px _Century_Gothic_;
      margin: 0;
      display: inline-block;
      color: $primary-text-color;
    }
  }
}
}
div[class$="-min"]{
  width: 100px;
  max-width: 100px;
  >div.logo{
    >img{
      min-width: 100%;
      max-width: 100%;
      min-height: auto;
      max-height: auto;
    }
    >h1{
      display: none;
    }
  }
  >div.userInfo{
    border: 0;
    justify-content: center;
    >div.profilePicture{
      width: 70px;
      height: 70px;
      margin: 0;
    }
    >h1{
      display: none;
    }
  }
  >ul.sections{
    display: none;
  }
  >div.help{
    width: 90px;
    justify-content: center;
    >div.sphere{
      margin: 0;
    }
    >h1{
      display: none;
    }
  }
}
