div.plugin{
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  >div.section{
    width: $small;
    min-width: $small;
    border-top: 1px solid $divider-color;
    margin: 30px 0 18px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    @include fiveColumn{
      max-width: $xLarge;
      min-width: $xLarge;
    };
    @include fourColumn{
      max-width: $large;
      min-width: $large;
    };
    @include threeColumn{
      max-width: $medium;
      min-width: $medium;
    };
    @include twoColumn{
      max-width: $small;
      min-width: $small;
    };
    @include oneColumn{
      max-width: $small;
      min-width: $small;
    };
    >label{
      background-color: white;
      font: bold 25px _Century_Gothic_;
      color:$primary-text-color;
      margin: 0;
      transform: translateY(-60%);
      padding-right: 20px;
      position: absolute;
    }
    >div.card{
      margin-top: 18px;
      width: 100%;
      align-self: flex-end;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      >button[name="add"]{
        margin-top: 15px;
        border: 1px solid $primary-color-dark;
        padding: 7px 15px;
        float: right;
        border-radius: 3px;
        background-color: $primary-color;
        font: bold 20px _Century_Gothic_;
        color: white;
        margin-bottom: 18px;
      }
      >div.tree{
        background: $primary-color-text;
        border: 1px solid $divider-color;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        font: bold 30px _Century_Gothic_;
        color: white;
      }
    }
  }
}
