<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Quienes
                    <strong>somos</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="resources/img/quienessomos.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>Somos el grupo encargado de brindarte la mejor mercancia Geek que puedes encontrar, en el mejor lugar y con
                    la mayor calidad.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Nuestro
                    <strong>Equipo</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" alt="" src="resources/img/José.jpg">
                <h3>Everardo Hernandez<br>
                    <small>Administrador de Proyectos</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" alt="" src="resources/img/Manuel.jpg">
                <h3>Manuel Ramirez<br>
                    <small>Desarrollador de Base de Datos</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" alt="" src="resources/img/Soriano.jpg">
                <h3>Gerardo Soriano<br>
                    <small>Programador de Back-End</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" alt="" src="resources/img/Villegas.jpg">
                <h3>Roberto Villegas<br>
                    <small>Diseñador</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" alt="" src="resources/img/Humberto.jpg">
                <h3>Humberto Vidal<br>
                    <small>Diseñador</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->
