div.cuenta{
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  >div.section{
    width: $small;
    min-width: $small;
    height: 300px;
    border-top: 2px solid $firstColor;
    margin: 10px 0 18px;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    @include fiveColumn{
      max-width: $xLarge;
      min-width: $xLarge;
    };
    @include fourColumn{
      max-width: $large;
      min-width: $large;
    };
    @include threeColumn{
      max-width: $medium;
      min-width: $medium;
    };
    @include twoColumn{
      max-width: $small;
      min-width: $small;
    };
    @include oneColumn{
      max-width: $small;
      min-width: $small;
    };
    >label{
      background-color: white;
      font: bold 25px "Century Gothic";
      margin: 0;
      transform: translateY(-60%);
      padding-right: 10px;
      position: absolute;
    }
    >div.card{
      background: $secondColor;
      width: 100%;
      height: 95%;
      align-self: flex-end;
      border-radius: 15px;
    }
  }
}
