div.formContainer{
  width: 100%;
  height: 100%;
  display: inline;
  align-items: center;
  position: relative;
  z-index: 1;
  >div.logo{
    position: relative;
    background-color: $primary-color;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    border-right: solid 2px $primary-color-dark;
    >img{
      position: absolute;
      top: 10%;
      left: 20%;
      height: 10%;
      min-height: 5%;
      max-height: 100%;
    }
  }
  >div.outerSquare{
    height: 100%;
  >div.square{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 100%;
    min-width: 300px;
    text-align: center;
    background: $primary-color-text;
    >img{
      height: 30%;
      margin: 40px;
      min-height: 5%;
      max-height: 100%;
    }
    >div.links{
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      padding: 0 10px 10px;
      border-bottom: 1px solid $divider-color;
      box-sizing: border-box;
      >a{
        flex-grow: 1;
        text-align: center;
        font: bold 20px _Century_Gothic_;
        color: $primary-text-color;
        text-decoration: none;
        &:visited,&:hover,&:focus{
          color: $primary-color;
          cursor: pointer;
        }
      }
    }
    >form[class$="Form"]{
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      >div.links{
        width: 100%;
        display: flex;
        padding: 0 10px 10px;
        border-bottom: 1px solid $divider-color;
        >a{
          flex-grow: 1;
          text-align: center;
          font: bold 20px _Century_Gothic_;
          color: $primary-color-dark;
          text-decoration: none;
          &:visited,&:hover,&:focus{
            color: $fGrey;
            text-decoration: underline;
          }
        }
      }
      >input{
        display: block;
        width: 100%;
        margin: 10px 0 0;
        padding: 10px;
        box-sizing: border-box;
        border: 0;
        border-radius: 3px;
        outline: 0;
        color: $secondary-text-color;
        border: solid 1px $divider-color;
        font-family: _Century_Gothic_;
        box-shadow: inset 0 0 0 $golden;
        &:first-child{
          margin-top: 0;
        }
        &:focus{
          border: solid 1px $primary-color-dark;
        }
        &.error{
          box-shadow: inset 0 0 7px $accent-color;
          border: 0px;
        }
        &[type="submit"]{
          width: 50%;
          background-color: $primary-color;
          color: white;
          
          cursor: pointer;
          &:hover, &:focus{
            box-shadow: 0 0 6px $thirdColor;
          }
        }
      }
      >span{
        font-family: _Century_Gothic_;
        font-weight: bold;
        margin: 10px 0 0;
        color: $firstColor;
        a:link{
          color: $link;
        }
      }
      >label.error{
        font: 15px _Century_Gothic_;
        color: $fGrey;
      }
    }
    >form.registerForm{
      display: none;
      text-align: center;
    }
  }
}
}
