$firstColor: #0c0f38;
$secondColor: #c2c8e2;
$thirdColor: #b0b4cd;
$fourColor: #a0a4ad;
$mainGradient: radial-gradient(circle, #00BCD4, #0097A7);
$modalShadow: radial-gradient(circle, rgba(20, 20, 20, 0.6), rgba(0, 0, 0, 0.7));
$blackTransparent: rgba(20, 20, 20, 0.2);
$redLight: #ed1b24;
$redHeavy: #bf2638;
$golden: #786b40;
$grey: #f2f2f2;

$fGrey: #626262;

$fail: #ed6748;
$success: #61de4d;
$link: #4597cb;

$primary-color-dark:   #0097A7;
$primary-color:        #00BCD4;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
