body{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  position: relative;

  &#loginRegister{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $grey;
  }
  *{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  }
  >img{
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    opacity: 1.0;
  }
  >div[class$="-max"]{
    padding-left: 110px;
  }
  a{
    font-family: inherit;
    color: inherit;
  }
}

.hide{
  display: none !important;
}