<div class="content">
  <div class="carrito">
    <div class="section">
      <label>Carrito</label>
      <div class="category">
        <div class="card">
          <label class="name">Categoria</label>
          <div class="productContainer">
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="category">
        <div class="card">
          <label class="name">Categoria</label>
          <div class="productContainer">
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
            <div class="product">
              <div class="sphere"></div>
              <div class="infoCard">
                <div class="productImage">
                  <img src="../../resources/img/thumbnail.jpg" alt="Imagen del producto">
                </div>
                <h1>Nombre del producto</h1>
                <p>descripción</p>
                <h5>precio</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
