<div class="content">
  <div class="categoria">
    <div class="name">
      <h1>Categoria</h1>
    </div>
    <div class="offers">
      <div class="offer">Oferta 1</div>
      <div class="offer">Oferta 2</div>
      <div class="offer">Oferta 3</div>
      <div class="offer">Oferta 4</div>
    </div>
    <div class="section">
      <label>Los mas comprados</label>
      <div class="products">
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
        <div class="product"><div class="infoCard"></div></div>
      </div>
    </div>
  </div>
</div>
