<div class="header">
    <div class="button" ng-click="headerOnClick($event)">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <h1>Menú</h1>
    </div>
    <div class="userInfo">
        <div class="mail">
            <div class="sphere">
                <h1>13</h1>
            </div>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="profilePicture">
            <img src="resources/img/profile.jpg" alt="Imagen de perfil">
        </div>
        <h1>gerardosoriano97</h1>
    </div>
</div>
