<div class="menu">
    <div class="topContainer">
        <div class="logo">
            <img src="resources/img/imagotipoHorizontal_NerdStuffWhiteSh_lq.png" alt="Logo de la empresa">
        </div>
        <div class="logoMin">
            <img src="resources/img/isotipo_NerdStuffWhiteSh_lq.png" alt="Logo de la empresa">
        </div>
        <div class="userInfo">
            <div class="profilePicture">
                <img ng-src="resources/img/{{usuario.fotoUrl}}" alt="Imagen de perfil">
            </div>
            <h1>
                ¡Hola,<br>
                <span class="username"><b>{{usuario.primerNombre}} {{usuario.segundoNombre}}</b></span>!
            </h1>
        </div>
    </div>
    <div class="bottomContainer">
        <ul class="sections" ng-click="menuOnClick($event)">
            <a href="#main"><i class="fa fa-home"></i><li class="current" data-step="3" data-intro="Tooltip menú">Inicio</li></a>
            <a href="#carrito"><i class="fa fa-shopping-cart"></i><li>Carrito</li></a>
            <a href="#comprar"><i class="fa fa-star"></i><li>Comprar</li></a>
            <a href="#cuenta"><i class="fa fa-user"></i><li>Mi cuenta</li></a>
            <a href="#historial"><i class="fa fa-file-text-o"></i><li>Historial</li></a>
            <a href="#invitados"><i class="fa fa-users"></i><li>Invitados</li></a>
            <a href=""><i class="fa fa-sign-out"></i><li>Salir</li></a>
        </ul>
        <a class="help" href="javascript:void(0);" onclick="javascript:introJs().start();">
            <div class="sphere">
                <i class="fa fa-question" aria-hidden="true"></i>
            </div>
            <h1>¿Necesitas ayuda?</h1>
        </a>
    </div>
</div>