<div class="hv-item">

    <div ng-if="data.invitados.length > 1">
        <div class="hv-item-parent">
            <div class="person" ng-click="colapse($event)">
                <img ng-src="resources/img/{{data.fotoUrl}}" alt="Description" />
                <p class="name">
                    {{data.nombre}} <br>{{data.nombreUsuario}} <br> {{data.fotoUrl}}
                </p>
            </div>
        </div>

        <div class="hv-item-children">
            <div class="hv-item-child" ng-repeat="data in data.invitados" ng-include="'office/templates/rama-arbol.html'"></div>
        </div>
    </div>
    
    <div ng-if="data.invitados.length == 1">
        <div class="hv-item-parent">
            <div class="person" ng-click="colapse($event)">
                <img ng-src="resources/img/{{data.fotoUrl}}" alt="Description" />
                <p class="name">
                    {{data.nombre}} <br>{{data.nombreUsuario}} <br> {{data.fotoUrl}}
                </p>
            </div>
        </div>

        <div class="hv-item-children">
            <div class="hv-item-child one-item-child" ng-repeat="data in data.invitados" ng-include="'office/templates/rama-arbol.html'"></div>
        </div>
    </div>


    <div ng-if="data.invitados.length == 0">
        <div class="person" ng-click="colapse($event)">
            <img ng-src="resources/img/{{data.fotoUrl}}" alt="Description" />
            <p class="name">
                {{data.nombre}} <br>{{data.nombreUsuario}} <br> {{data.fotoUrl}}
            </p>
        </div>
    </div>
</div>